.toc {
    
}
.toc ol {
    counter-reset: section;
    list-style-type: none;
}
.toc > ol {
    padding-left: 40px;
}
.toc > ol > li {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}
.toc > ol > li + li {
    margin-top: 10px;
}
.toc > ol > li::before {
    position: absolute;
    top: 0;
    left: -40px;
} /*
.toc > ol > li::after {
    position: absolute;
    top: 0;
    left: -80px;
}
.toc > ol > li:nth-child(1)::after {
    content: '🚀';
}
.toc > ol > li:nth-child(2)::after {
    content: '🚩';
} */
.toc li::before {
    flex: 0 0 40px;
    min-width: 40px;
    counter-increment: section;
    content: counters(section, '.') ' ';
}
.toc em {
    margin-left: auto;
    padding-left: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bold;
    text-align: right;
}